<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALEXANDER HAMILTON</title>
</head>
<body>
   <H1> ALEXANDER HAMILTON</H1> 

   <hr>
    <h2 id="bibliografia">bibliografia</h2>
    <img src="img/A4-1.jpg">
    <p>
        En general, se considera a Hamilton como un administrador, político y financiero astuto e intelectualmente brillante, aunque a menudo impetuoso. A sus ideas se les atribuye el mérito de sentar las bases del gobierno y las finanzas estadounidenses.
    </p>
  
</body>
</html>