<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ARTHUR CHARLES CLARKE</title>
</head>
<body>
   <H1> ARTHUR CHARLES CLARKE</H1> 

   <hr>
    <h2 id="bibliografia">bibliografia</h2>
    <a href="/public/img/A5-1.jpg"></a>
    <p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edward Hopper</title>
</head>
<body>
   <H1> Edward Hopper</H1> 

   <hr>
    <h2 id="bibliografia">bibliografia</h2>
    <img src="img/A5-1.jpg">
    <p>
        Edward Hopper (22 de julio de 1882-15 de mayo de 1967) fue un pintor y grabador realista estadounidense . Si bien es ampliamente conocido por sus pinturas al óleo , fue igualmente competente como acuarelista y grabador en el grabado . Su carrera se benefició decisivamente de su matrimonio con la también artista Josephine Nivison , quien contribuyó mucho a su trabajo, como modelo de vida y como socia creativa. Hopper era un artista de tonalidad menor, que creaba un drama tenue a partir de temas comunes "con capas de un significado poético", que invitaba a interpretaciones narrativas, a menudo involuntarias. Fue elogiado por su "total veracidad" en la América que retrató.
    </p>
  
</body>
</html>
    </p>
  
</body>
</html>