<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rutas e Hipervinculos</title>
</head>
<body>
    <a href="/views/babbage.html">ir a Charles Babbage</a><br>

    <a href="/views/berners-lee.html">ir a Timothy John berners-lee</a><br>

    <a href="/views/clarke.html">ir a Arthur charles clarke</a><br>
    
    <a href="/views/hamilton.html">ir a Alexander Hamilton</a><br>

    <a href="/views/hopper.html">ir a Edward Hopper</a><br>

    <a href="/views/lovelace.html">ir a Ada Lovelace</a><br>

    <a href="/views/turing.html">ir a Alan Turing</a><br>
    

</body>
</html>
